<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The Royal Wedding</title>
    <link rel="stylesheet" type="text/css" href="stylesheet/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<style>
    .main {
        padding: 20px;
    }
    .form {
        border-radius: 5px;
        background-color: #E8E8E8;
        padding: 20px;
    }
    input[type=submit] {
        width: 20%;
        border: none;
        color: white;
        background-color: #4CAF50;
    }
    .link {
        color: #4CAF50;
        margin-left: 80px;
        margin-right: 80px;
    }

    .list{
    margin-left: 80px;
    margin-right: 80px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-success".>
    <a class="navbar-brand" href="#"><img src="../images/sussex.png" height="59" width="45"/>The Royal Wedding</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/newpost">Add New Post<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
                <a class="nav-link" href="/listpost">View All Posts<span class="sr-only">(current)</span></a>
            <li class="nav-item active">
                <a class="nav-link" href="/">Back to the Ceremony<span class="sr-only">(current)</span></a>
        </ul>
    </div>
</nav>
<br>
<br>


<body>
<div class="main">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Post Id</th>
        <th>Guest Name</th>
        <th>Guest Wishes</th>
        <th>Post Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${book}">
        <td>[[${post.id}]]</td>
        <td>[[${post.name}]]</td>
        <td>[[${post.wish}]]</td>
        <td>[[${post.date}]]</td>

        <td>
            <button><a th:href="@{/update/{id} (id = ${post.id})}">Update</a></button>
            <button><a th:href="@{/view/{id} (id = ${post.id})}">View</a></button>
            <button><a th:href="@{/delete/{id} (id = ${post.id})}">Delete</a></button>
        </td>
    </tr>
    </tbody>
</table>



<div class="link">
    <a class="btn btn-success" href="/newpost" role="button">Add a wish!</a>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>